= form_with model: @address, local: true do |f|
  .single-container
    .single-container__header
      .single-container__header__logo
        = link_to image_tag("material/logo/logo.png", class:"list-image2"), root_path()
    .single-container__main
      = render "devise/shared/error_messages", resource: @address
      .single-container__main__head
        住所情報
    .single-container__main
      .single-container__main__title
        送付先氏名(全角)
        %span{class: "require"} 必須
        .flexbox
          = f.text_field :firstname, {class: "single-container__main__text text-half", placeholder: "例)フリマ"}
          = f.text_field :lastname , {class: "single-container__main__text text-half", placeholder: "例)太郎"}
      
      .single-container__main__title
        郵便番号
        %span{class: "require"} 必須
        = f.text_field :post_number, {class: "single-container__main__text", placeholder: "ハイフンなし 例)1234567"}
      .single-container__main__title
        都道府県
        %span{class: "require"} 必須
        = f.select :prefecture, ["北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県","茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県","新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県","静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県","奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県","徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県","熊本県","大分県","宮崎県","鹿児島県","沖縄県"], {}, class: "single-container__main__select"
      .single-container__main__title
        市区町村
        %span{class: "require"} 必須
        = f.text_field :city, {class: "single-container__main__text", placeholder: "例)渋谷区"}
      .single-container__main__title
        番地
        %span{class: "require"} 必須
        = f.text_field :address, {class: "single-container__main__text", placeholder: "例)道玄坂3-2"}
      .single-container__main__title
        建物名
        %span{class: "any"} 任意
        = f.text_field :apartment, {class: "single-container__main__text", placeholder: "例)フォンティスビル7F"}
      .single-container__main__title
        送付先電話番号
        %span{class: "any"} 任意
        = f.text_field :tel_number, {class: "single-container__main__text", placeholder: "ハイフンなし10~11桁"}
      .single-container__main__caution
        ※本人情報は正しく入力してください。会員登録後、お時間を頂く場合があります。
      = f.submit "登録を完了する", class: "single-container__main__btn"