.contents
  .content
    %ul.list
      %li.title
        FURIMAについて
      %li.text
        = link_to "会社概要（運営会社）", "/", class: "footer-content"
      %li.text
        = link_to "プライバシーポリシー", "/", class: "footer-content"
      %li.text
        = link_to "FURIMA利用規約", "/", class: "footer-content"
      %li.text
        = link_to "ポイントに関する特約", "/", class: "footer-content"
  .content
    %ul.list
      %li.title
        FURIMAを見る
      %li.text
        = link_to "カテゴリー一覧", "/", class: "footer-content"
      %li.text
        = link_to "ブランド一覧", "/", class: "footer-content"
  .content
    %ul.list
      %li.title
        ヘルプ＆ガイド
      %li.text
        = link_to "FURIMAガイド", "/", class: "footer-content"
      %li.text
        = link_to "FURIMAロゴ利用ガイドライン", "/", class: "footer-content"
      %li.text
        = link_to "お知らせ", "/", class: "footer-content"
.logo
  =image_tag 'material/logo/logo-white.png', alt: 'ロゴ', class: "footer-logo"
  %p.sign
    ©︎FURIMA