.content__main
  %section.content__main__box
    %h5.content__main__box__header 支払い方法
    .content__main__box__inner
      %section.content__main__box__inner__add-card
        = link_to new_users_card_path, class: "card-registration-btn" do
          = icon('fa', 'credit-card')
          クレジットカードを追加する
      %section
        .content__main__box__inner__header
          %h6.content__main__box__inner__header__list クレジットカード一覧
        %ul.content__main__box__inner__header__payment-list
          %li
            = form_with url: "#", class: "payjp-form", method: "POST" do |f|
              %figure
                = image_tag 'material/logo/amex-logomark.gif', alt: 'amex-logomark.gif', height: '30px', width: '35px'
              .payjp-form__info ****12345678
              .payjp-form__info mm/ss
              = f.submit "削除する", class: "remove-btn"
          %li
            = form_with url: "#", class: "payjp-form", method: "POST" do |f|
              %figure
                = image_tag 'material/logo/jcb-logomark.gif', alt: 'jcb-logomark.gif', height: '30px', width: '35px'
              .payjp-form__info ****12345678
              .payjp-form__info mm/ss
              = f.submit "削除する", class: "remove-btn"
          %li
            = form_with url: "#", class: "payjp-form", method: "POST" do |f|
              %figure
                = image_tag 'material/logo/Visa-logomark.png', alt: 'Visa-logomark.png', height: '30px', width: '35px'
              .payjp-form__info ****12345678
              .payjp-form__info mm/ss
              = f.submit "削除する", class: "remove-btn"