.content__side
  %nav.content__side__nav
    %ul.content__side__nav__list
      %li.content__side__nav__list__item
        = link_to user_path(current_user.id) do
          マイページ
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to "#" do
          やることリスト
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to "#" do
          いいね一覧
          = icon('fas', 'chevron-right', class: "arrow-right")    
      %li.content__side__nav__list__item
        = link_to new_item_path do
          出品する
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to user_items_path(current_user.id) do
          出品した商品
          = icon('fas', 'chevron-right', class: "arrow-right")    
      %li.content__side__nav__list__item
        = link_to "#" do
          評価一覧
          = icon('fas', 'chevron-right', class: "arrow-right")  
      %li.content__side__nav__list__item
        = link_to "#" do
          お問い合わせ
          = icon('fas', 'chevron-right', class: "arrow-right")      
      %h1.content__side__nav__list__header 設定
    %ul.content__side__nav__list
      %li.content__side__nav__list__item
        = link_to "#" do
          プロフィール
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to "#" do
          発送元・お届け先住所変更
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to creditcard_path(current_user.id) do
          支払い方法
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to user_logout_path(current_user.id) do
          ログアウト
          = icon('fas', 'chevron-right', class: "arrow-right")