.content__side
  %nav.content__side__nav
    %ul.content__side__nav__list
      %li.content__side__nav__list__item
        = link_to users_show_path do
          マイページ
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to "#" do
          やることリスト
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to "#" do
          出品する
          = icon('fas', 'chevron-right', class: "arrow-right")
      %h1.content__side__nav__list__header 設定
    %ul.content__side__nav__list
      %li.content__side__nav__list__item
        = link_to "#" do
          プロフィール
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to "#" do
          発送元・お届け先住所変更
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to users_cards_path do
          支払い方法
          = icon('fas', 'chevron-right', class: "arrow-right")
      %li.content__side__nav__list__item
        = link_to users_logout_path do
          ログアウト
          = icon('fas', 'chevron-right', class: "arrow-right")