-# ヘッダー
%header
  = render 'items/header'

-# パンくずリスト
%nav.bread-crumbs 
  %ul
    %li パンくずリスト

-# メイン部
.main
  .content
    = render 'sidebar'
    = render 'mainbar-logout'

-# フッター
%footer
  = render 'items/footer'

-# 画面右下の固定アイコン
= render 'items/purchasebtn'