-# ヘッダー
%header
  = render 'items/header'
  - breadcrumb :mypage
  

-# パンくずリスト
%nav.bread-crumbs 
  %ul
    = render "layouts/breadcrumbs"

-# メイン部
.main
  .content
    = render 'sidebar'
    = render 'mainbar'

  -# サードビュー
  .main__third-section
    = render 'items/third-section'

-# フッター
%footer
  = render 'items/footer'

-# 画面右下の固定アイコン
= render 'items/purchasebtn'