.wrapper
  .header
    ヘッダー領域
  .content
    .content__side
      %nav.content__side__nav
        %ul.content__side__nav__list
          %li.content__side__nav__list__item
            = link_to "マイページ", "#"
            = link_to "やることリスト", "#"
            = link_to "出品する", "#"
          %h1.content__side__nav__list__header 設定
        %ul.content__side__nav__list
          %li.content__side__nav__list__item
            = link_to "プロフィール", "#"
            = link_to "発送元・お届け先住所変更", "#"
            = link_to "支払い方法", "#"
            = link_to "ログアウト", "#"
    .content__main
      %section.content__main__user-info
        %a{href: "#"}
          %figure
            = image_tag 'default-statue.jpeg', alt: 'default-statue.jpeg', height: '60px', width: '60px'
          %h2.content__main__user-info__user-name テストさん
          .content__main__user-info__user-data
            %div
              評価数
              %span.content__main__user-info__user-data__evaluation
                1000000
            %div
              出品数
              %span.content__main__user-info__user-data__product-number
                3000000
      %section.content__main__notice-todo
        %ul.content__main__notice-todo__tabs
          %li
            = link_to "お知らせ", "#"
            = link_to "やることリスト", "#"
        .content__main__notice-todo__tab-content
          %ul.content__main__notice-todo__tab-content__notice
            %li
              = link_to "お知らせ1", "#", class: "content__main__notice-todo__tab-content__notice__link" 
              = link_to "お知らせ2", "#", class: "content__main__notice-todo__tab-content__notice__link"
              = link_to "お知らせ3", "#", class: "content__main__notice-todo__tab-content__notice__link"
              = link_to "一覧を見る", "#", class: "content__main__notice-todo__tab-content__notice__list" 
      %section.content__main__history
        %h1.content__main__history__header 購入した商品
        %ul.content__main__history__tabs
          %li
            = link_to "取引中", "#"
            = link_to "過去の取引", "#"
        .content__main__history__tab-content
        %ul.content__main__history__tab-content__pane
          %li
            = link_to "お知らせ5", "#", class: "content__main__history__tab-content__pane__link" 
            = link_to "お知らせ6", "#", class: "content__main__history__tab-content__pane__link"
            = link_to "お知らせ7", "#", class: "content__main__history__tab-content__pane__link"
            = link_to "一覧を見る", "#", class: "content__main__history__tab-content__pane__list" 
  .banner
    バナー領域
  .footer
    フッター領域