.creditcard__list
  .creditcard__list__title
    クレジットカード一覧
  .creditcard__list__frame
    .creditcard__info
      .creditcard__info__brand
        -# showメソッドで定義した@card_srcを呼び出し
        -# 画像をcardsというフォルダを作り、入れておく
        = image_tag "cards/#{@card_src}", class: "creditcard__info__brand__img", alt: @card_brand
      .creditcard__info__numbers
        .number
          -# Pay.jpから取得したカード番号の末尾４桁を取得
          = "**** **** **** " + @customer_card.last4
        .expiration__date
          .expiration__date__info
            -# showメソッドで定義した有効期限の年と月を取得
            = @exp_month + " / " + @exp_year
    .destroy__function
      .destroy__function__link
        -# 削除ボタンを作成、押すとdestroyメソッドが働くように
        = link_to creditcard_path, method: :delete, class: "destroy__function__link__btn" do 
          削除する
  .payment-details
    = link_to "支払い方法について >", "", class: "payment-details__btn"