.form-buy
  .buy__header
    = render "items/form_header"
  - if @user.creditcard.present?
    .buy
      %section.buy__title
        %h2.buy__title__name 購入内容の確認

      %section.buy__item
        .buy__item__info
          .buy__item__info__image
            = image_tag  @item.images[0].image.url, class:"item-image"

          .buy__item__info__details
            .item__name 【美品】master card
            %p.item__price
              %span.price
                = "#{@item.price}" + "円"
              %span.shipping__fee （税込）送料込み

      %section.buy__content
        .buy__content__price
          %span.purchase-price 支払い金額
          %span.price
          = "¥" + "#{@item.price}"


      %section.buy__creditcard
        .buy__creditcard__method
          %h3.method-howto 支払い方法
          =link_to "変更する", new_creditcard_url, class: "method-change"
        .buy__creditcard__registration
          %p クレジットカード
          %p 
          = "**** **** **** " + @customer_card.last4
          %p 
          有効期限
          = @exp_month + " / " + @exp_year
          .bcr-card
            = image_tag "cards/#{@card_src}", class:"bcr-card"

      %section.buy__shipping
        .buy__shipping__destination
          %h3.shipping-destination 配送先
          =link_to "変更する", '#', class: "method-change"
        .buy__shipping__address
          %p
            = @address.post_number.to_s.slice(0,3) + " -"
            = @address.post_number.to_s.slice(3,4)
          %p
            = @address.prefecture
            = @address.city
            = @address.address
            = @address.apartment
          %p
            = @address.lastname
            = @address.firstname

      %section.buy__btn
        .buy__btn__content
          %p.buy__btn__content__notification
          郵便局/コンビニ受取をご希望の方は、購入後に
          %b.buy__btn__content__notification__bold 取引画面
          から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
          .buy__btn__button
            = link_to "購入する", pay_item_creditcards_path(item_id: @item.id), method: :post, class: "btn--purchase__btn"
  - else
    = link_to new_users_card_path, class: "btn--purchase__btn" do
      = icon('fa', 'credit-card')
      クレジットカードを追加する
    .buy
      %section.buy__btn
        .buy__btn__none
          = form_tag(action: :pay, method: :post) do
            %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,"data-text": "購入する" ,"data-key": "pk_test_1ec0ec04db6b232048c16e77",}

  .buy__footer
    = render "items/form_footer"