.form-body
  .form-items
    = form_with model: @item, local: true do |f|
      = render 'layouts/error-messages'
      .photos
        .photos--title
          %h3
            出品画像
            %span.form-required 必須
          %p.photos--title__comments
            最大10枚までアップロードできます
        .photos-box
          .previews
          = f.fields_for :images do |i|
            %label.photos--drops{for: "item_images_attributes_0_image"}
              %i.fas.fa-camera
                .photos--drops__comment
                  %p
                    クリックしてファイルをアップロード
              .js-file_group{data: {index:  "#{i.index}"}}
                = i.file_field :image, class: 'photos--form', accept: 'image/png,image/jpeg'

      .items
        .items--name.contents-height
          %h3
            商品名
            %span.form-required 必須
          = f.text_field :name, { class: 'items-name-box', placeholder: '40文字まで' }
        .items--text
          %h3
            商品の説明
            %span.form-required 必須
          = f.text_area :introduction, { class: 'items--text__field js-text', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', rows: '5' }
          %p.items--text__count

      .items-data
        %p
          商品の詳細
        .items-data--category
          %h3
            カテゴリー
            %span.form-required 必須

          .items-data--category__select
            = f.collection_select :category, @category, :id, :name, { prompt: "選択してください"}, {class: "select-box", id: "category_select" }
          .items-data--category__child
          .items-data--category__size
          
        .items-data--barand
          %h3
            ブランド
            %span.form-any 任意
          = f.text_field :brand_id, { class: 'items-name-box', placeholder: '例）シャネル' }
          #brand-search-result 
        .items-data--status.contents-height
          %h3
            商品の状態
            %span.form-required 必須
          = f.collection_select :condition_id, Condition.all, :id, :name, {include_blank: '選択してください'}, {class: "select-box"}
          -# { include_blank: '選択してください' }にすると、この選択肢が表示されているときは何も選択されていないことになる。
          
      .delivery
        %p.p-title
          配送について
          = link_to '?', '#', target: '_blank', class: 'p-title--question'
        .delivery--charges.contents-height
          %h3
            配送料の負担
            %span.form-required 必須
          = f.collection_select :shipping_fee_id, ShippingFee.all, :id, :name, {include_blank: '選択してください'}, {class: "select-box", id: "shipping-fee_select" }
        .delivery--way.contents-height
        .delivery--area.contents-height
          %h3
            発送元の地域
            %span.form-required 必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '選択してください'}, {class: "select-box"}
        .delivery--day.contents-height
          %h3
            発送までの日数
            %span.form-required 必須
          = f.collection_select :shipping_period_id, ShippingPeriod.all, :id, :name, {include_blank: '選択してください'}, {class: "select-box"}

      .cost
        %p.p-title
          価格（¥300〜9,999,999）
          = link_to '?', '#', target: '_blank', class: 'p-title--question'
        .cost--selling
          .cost--selling__price
            %h3
              販売価格
              %span.form-required 必須
          .cost--selling--number
            %p ¥
            = f.number_field :price, {  class: 'cost--selling--number__price', placeholder: '0', style: 'text-align:right', value: number_with_delimiter(@price, precision: 3)} 
        .cost--commission
          %p 販売手数料 (10%)
          %span.gain-commission -
        .cost--profit
          %p 販売利益
          %span.gain-profit -

      .btns
        = f.button '出品する', class: 'btns--display btn-design'
        = f.button '下書きに保存', class: 'btns--draft btn-design'  
        = link_to "/", class: "btns--return" do
          もどる
        
      .notes
        %p
          禁止されている
          = link_to '行為', '#', target: '_blank', class: 'notes--content'
          および
          = link_to '出品物', '#', target: '_blank', class: 'notes--content'
          を必ずご確認ください。
          = link_to '偽ブランド品', '#', target: '_blank', class: 'notes--content'
          や
          = link_to '盗品物', '#', target: '_blank', class: 'notes--content'
          などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
          = link_to '加盟店規約', '#', target: '_blank', class: 'notes--content'
          に同意したことになります。