.header__contents
  .header__contents__main
    .header__contents__main__main-title
      = link_to image_tag("material/logo/logo.png", class:"icon"), "/" 
    .header__contents__main__search-box
      = form_with url: "#", method: :get, local: true do |f|
        = f.text_field :search, class: "input-box", placeholder:"キーワードから探す"
        %button{type: "submit", class:"search-btn"} 
          = image_tag 'icon-search1.png',class: "image"

  .header__contents__navbar
    %ul.list-left
      %li.list-left__category-btn 
        = link_to "カテゴリー", "/", class: "list-btn"
      %li.list-left__brand-btn
        = link_to "ブランド", "/", class: "list-btn"

      %ul.list-right
        - if user_signed_in?  
          =link_to "#", class: "list-btn" do 
            マイページ
          = link_to destroy_user_session_path, method: :delete, class: "list-btn2" do 
            ログアウト
        - else
          = link_to new_user_session_path, class:"list-btn " do
            ログイン
          = link_to new_user_registration_path, class:"list-btn2 " do
            新規会員登録      
        -# %li.list-right__login-btn 
        -#   = link_to "ログイン", new_user_session_path, class: "list-btn"
        -# %li.list-right__registration-btn
        -#   = link_to "新規会員登録", new_user_registration_path, class: "list-btn"

