%header
  = render partial: 'header'
.under-header
  = render partial: 'kategory-hierarchy'
.item-wrapper
  .item-box
    %h1.item-box__name ああああ 
    .item-box__image
      %ul.item-box__image__main
        %li.item-box__image__main__pict
          = image_tag "ramen.png", class:"resize"
      %ul.item-box__image__sub
        %li.item-box__image__sub__pict
          = image_tag "ramen.png", width: "100px", class:"resize"
        %li.item-box__image__sub__pict
          = image_tag "ramen.png", width: "100px", class:"resize"
        %li.item-box__image__sub__pict
          = image_tag "ramen.png", width: "100px", class:"resize"
    .item-box__price
      %span ¥20000
      .item-box__price__detail （税込）送料別
    .item-box__introduction 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
    .item-box__table
      %table
        %tr
          %th 出品者
          %td ほげ
        %tr
          %th カテゴリー
          %td 
            =link_to '#', class:"item-box__table__link" do
              ほげ 
            %br
            =link_to '#', class:"item-box__table__link" do
              hoge
            %br
            =link_to '#', class:"item-box__table__link" do
              hoge
        %tr
          %th ブランド
          %td
        %tr
          %th 商品のサイズ
          %td
        %tr
          %th 商品の状態
          %td ほげ
        %tr
          %th 配送料の負担
          %td ほげ
        %tr
          %th 配送方法
          %td ほげ
        %tr
          %th 発送元の地域
          %td
            =link_to '#', class:"item-box__table__link" do
              ほげ
        %tr
          %th 発送日の目安
          %td ほげ
    .option-box
      =link_to '#', class: 'option-box__favorite' do
        = icon('fa', 'star', class: 'option-box__favorite__icon')
        お気に入り 0
      =link_to '#', class: 'option-box__report' do
        = icon('fas', 'flag', class: 'option-box__report__icon')
        不適切な商品の通報
  .comment-box
    %form.comment-form
      %textarea.comment-form__content
      .comment-form__note
        %span 相手のことを考え丁寧なコメントを心がけましょう。
        %br
        %span 不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.comment-form__button 
        = icon('fas', 'comment')
        コメントする
  .links
    %ul.links__around
      %li
        =link_to '#', class:"links__around__link" do
          = icon('fa', 'angle-left', class:"links__around__link__icon") 
          前の商品
      %li
        =link_to '#', class:"links__around__link" do
          後ろの商品 
          = icon('fa', 'angle-right', class:"links__around__link__icon")
    .links__kategory
      =link_to '#', class:"links__kategory__link" do
        メンズをもっと見る
=link_to "#" do
  .purchaseBtn.purchaseBtn--red
    %span.purchaseBtn__text 購入する
    =image_tag "icon_brand.png", class: "purchaseBtn-icon"
.over-footer
  = render partial: 'third-section'
%footer
  = render partial: 'items/footer'

