%header
  = render partial: 'header'
.under-header
  = render partial: 'kategory-hierarchy'
.item-wrapper
  .item-box
    %h1.item-box__name
      = @item.name
    .item-box__image
      %ul.item-box__image__main
        %li.item-box__image__main__pict
          = image_tag @images.first.image, class:"resize"
      %ul.item-box__image__sub
        - @images.each do |image|
          %li.item-box__image__sub__pict
            = image_tag image.image, width: "100px", class:"resize"
    .item-box__price
      %span ¥
      %span
        = @item.price
      .item-box__price__detail （税込）送料別
    .item-box__introduction
      = simple_format(@item.introduction)
    .item-box__table
      %table
        %tr
          %th 出品者
          %td
            = @item.seller.nickname
        %tr
          %th カテゴリー
          %td 
            - if @item.category.parent.parent
              =link_to '#', class:"item-box__table__link" do
                = @item.category.parent.parent.name
              %br
            - if @item.category.parent
              =link_to '#', class:"item-box__table__link" do
                = @item.category.parent.name
              %br
            =link_to '#', class:"item-box__table__link" do
              = @item.category.name
        %tr
          %th ブランド
          %td
            - if @item.brand
              = @item.brand.name
        %tr
          %th 商品のサイズ
          %td
            = @item.size.name
        %tr
          %th 商品の状態
          %td
            = @item.condition.name
        %tr
          %th 配送料の負担
          %td
            = @item.shipping_fee.name
        %tr
          %th 配送方法
          %td
            = @item.shipping_way.name
        %tr
          %th 発送元の地域
          %td
            =link_to '#', class:"item-box__table__link" do
              = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td
            = @item.shipping_period.name
    .option-box
      =link_to '#', class: 'option-box__favorite' do
        = icon('fa', 'star', class: 'option-box__favorite__icon')
        お気に入り 0
      =link_to '#', class: 'option-box__report' do
        = icon('fas', 'flag', class: 'option-box__report__icon')
        不適切な商品の通報
  - if user_signed_in? && current_user.id == @item.seller_id
    .seller-box
      .seller-box__edit
        = link_to "#", class:"seller-box__edit--btn" do
          編集する
        %span or
      .seller-box__delete
        = link_to item_path(@item), method: :delete, class:"seller-box__delete--btn" do
          削除
  .comment-box
    %form.comment-form
      %textarea.comment-form__content
      .comment-form__note
        %span 相手のことを考え丁寧なコメントを心がけましょう。
        %br
        %span 不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.comment-form__button 
        = icon('fas', 'comment')
        コメントする
  .links
    %ul.links__around
      %li
        =link_to '#', class:"links__around__link" do
          = icon('fa', 'angle-left', class:"links__around__link__icon") 
          前の商品
      %li
        =link_to '#', class:"links__around__link" do
          後ろの商品 
          = icon('fa', 'angle-right', class:"links__around__link__icon")
    .links__kategory
      - if @item.category.parent.parent
        =link_to '#', class:"links__kategory__link" do
          = @item.category.parent.parent.name
          をもっと見る
      - elsif @item.category.parent
        =link_to '#', class:"links__kategory__link" do
          = @item.category.parent.name
          をもっと見る
      - else
        =link_to '#', class:"links__kategory__link" do
          = @item.category.name
          をもっと見る
-# 出品者または購入ずみの場合は購入ボタンの表示はしない
- if user_signed_in?
  - if current_user.id == @item.seller_id || @item.buyer_id
  - else
    =link_to "#" do
      .purchaseBtn.purchaseBtn--buy
        %span.purchaseBtn__text 購入する
        =icon('fas', 'wallet', class:"purchaseBtn--icon-wallet")
- else
  =link_to user_session_path do
    .purchaseBtn.purchaseBtn--buy
      %span.purchaseBtn__text 購入する
      =icon('fas', 'wallet', class:"purchaseBtn--icon-wallet")
.over-footer
  = render partial: 'third-section'
%footer
  = render partial: 'items/footer'

