-# ヘッダー
%header
  = render 'items/header'
  - breadcrumb :cardadd

-# パンくずリスト
%nav.bread-crumbs 
  %ul
    %li 
      = render "layouts/breadcrumbs"

-# メイン部
.main
  .content
    = render 'users/sidebar'
    = render 'users/mainbar-card-create'

-# フッター
%footer
  = render 'items/footer'

-# 画面右下の固定アイコン
= render 'items/purchasebtn'